/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------*/




/* BAKGRUND+BILD-BAKGRUND+BILD-BAKGRUND+BILD-BAKGRUND+BILD-BAKGRUND+BILD-*/

#container {
        overflow: hidden;
        width: 600px;
        height: auto;
        margin: 25px auto;
        background: url('pics/coffey.jpg') #51483E;
        background-position: 0 15px;
        background-repeat: no-repeat;
        border: 1px solid #CDCAB9;
        font-family: 'Verdana';

}


/* TEXTEN UPPE I HÖRNET PÅ LATIN - TEXTEN UPPE I HÖRNET PÅ LATIN*/

#topbar {
        text-align: right;
        color: #EAE9D3;
        font-size: 10px;
        font-style: italic;
        padding: 2px;
}



/* MENY-MENY-MENY-MENY-MENY-MENY-MENY-MENY-MENY-MENY-MENY-MENY-MENY-MENY-*/
#menu {
        clear: inherit;
        margin-top: 210px;
        height: 30px;
}
#menu ul li{
        list-style: none;
        float: left;
        margin-left: 1px;
        
        
}
#menu ul {
        padding: 6px 10px;
}
#menu ul li a {
                border-top: 1px solid #847D73;
                background: #797167;
                padding: 7px 20px;
                padding-bottom: 7px;
                text-decoration:none;
                text-transform: capitalize;
                color: #eae7d2;
                font-size:80%
    
}
#menu ul .active a{
        background: #eae7d2;
        color: #797066;
        border-bottom: 1px solid #eae7d2;
        font-size:80%;
        
}
#menu > a {
    display:none;
}


#content    {
            background-color: #EAE9D3;
            width: 600;
            border-top: 1px solid white;
            border-top: 1px #797167e;
}





#maincontent {
        
        margin-top: 10px;
        float: left;
        
        width: 348px;
        height: auto;
}




#maincontent img{
                float:left;
                padding: 0 5px 0 0;
    
    
}
#maincontent p{
        line-height: 20px;
        font-family: "Verdana";
        font-size:13px;
        color: #797167;
}
#maincontent h1{
        font-weight: normal;
        margin-top: 0;
        font-family: "Timesnewroman";
        font-size:30px;
        padding-bottom: 15px;
        color: #797167;
}



#subcontent {
            clear:right;
            width: 210px;   
            float: right;
            margin-top: 25px;
            padding: 10px;
            height: auto;
            border-left-style: groove; 
border-left-style: dashed ; 
border-left-color: silver; 
border-left-width: 1px;
            
            
            
            
            
            
}
#subcontent ul{
        padding: 0;
        margin-top: 0;
}
#subcontent ul li{
        list-style:  none;
}
#subcontent p{
        font-size: 9px;
        line-height: 21px;
        margin-bottom: 20px;
        color: #797167;
}
#subcontent h1{
        font-weight: normal;
        font-size: 18px;
        font-family: "Timesnewroman";
        margin-bottom: 20px;
        color: #51483E;
}
#subcontent h2{
        font-size: 14px;
        font-family: "Timesnewroman";
        line-height: 20px;
        font-weight: normal;
        color: #51483E;
}
#subcontent ul li a{
        color: #51483E;
        font-size:75%;
        line-height: 20px;
        font-family: "Verdana";
        margin-bottom: 3px;
}


#bottomcontent {
        
        clear:left;
        background: #EAE7D2;
        padding: 10px 30px 10px 0;
        color: #797167;
        font-size: 10px;
        font-style: italic;
        line-height: 15px;
    
}




















